 *{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
.youhui{
	max-width: 100%;
}
main{
	width: 1200px;
	margin: 0 auto;
}
.youhuitaocan{
	width: 100%;
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
}
.youhui-top{
	max-width: 100%;
	height: 47px;
	border-bottom: 1px solid #dfdfdf;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.youhui-top p:first-child{
	font-size: 13px;
	color: #0085d0;
	padding-left: 24px;
	font-weight: bold;
}
.youhui-top a{
	display: block;
	width: 81px;
	height: 16px;
	color: #666666;
	margin-right: 27px;
	font-size: 13px;
}
.youhui-top a:hover{
	color: #0085d0;
	text-decoration: underline;
}
.youhui-bottom{
	max-width: 100%;
	height: 378px;
	display: flex;
	flex-wrap: wrap;
}
.youhui-bottom>ul{
	width: 25%;
	height: 378px;
} 

.youhui-bottom>ul>li{
	width: 100%;
	height: 100%;
	border-right: 1px solid #dfdfdf;
	box-sizing: border-box;
}
.youhui-bottom>ul:nth-of-type(2) .bottom{
	background: #efefef;
}
.youhui-bottom>ul:nth-of-type(2) .bottom h4,
.youhui-bottom>ul:nth-of-type(3) .top h4,
.youhui-bottom>ul:nth-of-type(4) .bottom h4
{
	color: #e5008a;
}
.youhui-bottom>ul:nth-of-type(3) .top{
	background: #efefef;
}
.youhui-bottom>ul:nth-of-type(4) .bottom{
	background: #efefef;
}

.top{
	width: 100%;
	height: 50%;
	position: relative;
	border-bottom: 1px solid #dfdfdf;
	box-sizing: border-box;
	overflow: hidden;
}
h4,h6{
	margin-left: 20px;
	color: #333333;
	margin-top: 13px;
}
h6{
	color: #666666;
	margin-top: 0;
}
.top>img{
	width: 220px;
	height: 130px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.bottom{
	width: 100%;
	height: 50%;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
}
.bottom img{
	width: 220px;
	height: 130px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.top img:hover{
	transform: translateX(-5px);
}
.bottom img:hover{
	transform: translateX(-5px);
}
.youhui-bottom ul:last-of-type li{
	border-right: 0;
}
.youhui-bottom>ul:first-of-type>li>a>img{
	width: 100%;
	height: 100%;
}
.youhui-bottom>ul:first-of-type>a{
	display: block;
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 768px){
	main{
		max-width:100%; 
	}
	.youhui-bottom ul{
		width: 50%;
	}
	.youhuitaocan{
		max-width: 100%;
	}
}