/*
* @Author: Administrator
* @Date:   2017-07-22 14:50:01
* @Last Modified by:   Administrator
* @Last Modified time: 2017-07-23 22:43:44
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
header{
	width: 100%;
	height: 0.92rem;
	background: #0078e6;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
#head{
	width: 100%;
	height: 0.92rem;
}
header img{
	float: left;
	width: 0.7rem;
	height: 0.68rem;
	margin-left: 2.74rem;
	margin-top: 0.12rem;
}
header p{
	width: 1.15rem;
	height: 0.36rem;
	font-size: 0.36rem;
	float: left;
	color: #ffffff;
	margin-top: 0.28rem;
	margin-left: 0.16rem;
}
.lunbo{
	width: 100%;
	height: 2.8rem;
}
.lunbo img{
	width: 100%;
	height: 100%;
}
.shouye{
	width: 100%;
	height: 0.82rem;
	background: #f5f6fa;
}
.shouye span{
	display: block;
	margin-left: 0.23rem;
	line-height: 0.82rem;
	font-size: 0.22rem;
	color: #494747;
}
.shouye span a{
	color: #494747;
}
.h5fazhan{
	width: 100%;
	height: 2.47rem;
}
main{
	width: 7.02rem;
	height: 100%;
	background: #ffffff;
	margin: 0 auto;
}
.biaoti{
	width: 100%;
	height: 0.59rem;
	font-size: 0.24rem;
	line-height: 0.59rem;
	color: #000000;
}
.h5fazhan-bottom{
	width: 100%;
	height: 1.87rem;
	border-bottom: 0.01rem solid #d2d2d2;
}
.h5fazhan-b-l{
	width: 2.22rem;
	height: 100%;
	overflow: hidden;
	position: relative;
	float: left;
}
.h5fazhan-b-l-b{
	width: 1.91rem;
	height: 1.43rem;
	border: 0.01rem solid #01b5ff;
	margin-top: 0.13rem;
	margin-left: 0.13rem;
}
.fangkuai-l{
	width: 0.05rem;
	height: 0.05rem;
	background: #01b5ff;
	position: absolute;
	left: 0.12rem;
	top: 0.12rem;
}
.fangkuai-r{
	width: 0.05rem;
	height: 0.05rem;
	background: #01b5ff;
	position: absolute; 
	left: 2.04rem;
	top: 0.12rem;
}
.fangkuai-b-r{
	width: 0.05rem;
	height: 0.05rem;
	background: #01b5ff;
	position: absolute; 
	left: 2.04rem;
	top: 1.56rem;
}
.huise{
	width: 1.93rem;
	height: 1.45rem;
	background: #c8c8c8;
	position: absolute;
	left: 0.03rem;
	top: 0.23rem;
}
.h5fazhan-b-r{
	width: 4.8rem;
	height: 1.87rem;
	float: left;
}
.h5fazhan-b-r p:first-of-type{
	width: 4.27rem;
	height: 1rem;
	margin-top: 0.23rem;
	margin-left: 0.13rem;
	font-size: 0.22rem;
	color: #494747;
	line-height: 0.35rem;
}
.h5fazhan-b-r p:nth-of-type(2){
	width: 100%;
	height: 0.36rem;
	line-height: 0.36rem;
	font-size: 0.22rem;
	color: #494747;
	margin-left: 0.13rem;
}
.shuju{
	width: 100%;
	height: 0.89rem;
	border-bottom: 0.03rem solid #f5f6fa;
}
.main-shuju{
	width: 7.07rem;
	height: 0.6rem;
	margin: 0 auto;
	border-bottom: 0.01rem solid #d2d2d2;
}
.shuju-l{
	width: 1.63rem;
	height: 0.6rem;
	margin-left: 0.09rem;
	display: flex;
	align-items:center;
	float: left;
}
.shijian{
	width: 0.3rem;
	height: 0.3rem;
	background: url('../img/media_icon.png') no-repeat 0rem -0.01rem;
	background-size: 1.2rem 0.35rem;
	margin-right: 0.08rem;
}
.shuzi{
	font-size: 0.16rem;
	color: #666666;
}
.shuju-m{
	width: 2.3rem;
	height: 0.6rem;
	margin-left: 0.29rem;
	float: left;
	display: flex;
	align-items:center;
}
.xin{
	width: 0.3rem;
	height: 0.3rem;
	background: url('../img/media_icon.png') no-repeat -0.4rem -0.01rem;
	background-size: 1.2rem 0.35rem;
}
.dianjiliang{
	font-size: 0.16rem;
	color: #666666;
}
.xin1{
	width: 0.3rem;
	height: 0.3rem;
	background: url('../img/media_icon.png') no-repeat -0.8rem -0.01rem;
	background-size: 1.2rem 0.35rem;
}
.tiaozhuan{
	width: 100%;
	height: 0.7rem;
	background: #ffffff;
}
.zuobian{
	width: 0.56rem;
	height: 0.29rem;
	border-radius: 0.1rem;
	border: 0.01rem solid #a1a1a1;
	background: #ffffff;
	margin-left: 0.37rem;
	margin-top: 0.19rem;
	float: left;
}
.zuobian-nei{
	width: 0.48rem;
	height: 0.23rem;
	border: 0.01rem solid #333333;
	border-radius: 0.1rem;
	margin: 0 auto;
	font-size: 0.16rem;
	text-align: center;
	line-height: 0.23rem;
	color: #383838;
}
.yuobian{
	width: 0.56rem;
	height: 0.29rem;
	border-radius: 0.1rem;
	border: 0.01rem solid #a1a1a1;
	background: #ffffff;
	margin-left: 0.15rem;
	margin-top: 0.19rem;
	float: left;
}
.yuobian-nei{
	width: 0.48rem;
	height: 0.23rem;
	border: 0.01rem solid #333333;
	border-radius: 0.1rem;
	margin: 0 auto;
	font-size: 0.16rem;
	text-align: center;
	line-height: 0.23rem;
	color: #383838;
}
.tiaozhuan ul{
	width: 3.45rem;
	height: 0.32rem;
	float: left;
	margin-top: 0.19rem;
	margin-left: 0.15rem;
}
.tiaozhuan ul li{
	width: 0.3rem;
	height: 0.3rem;
	border-radius: 50%;
	border: 0.01rem solid #b0b0b0;
	background: #ffffff;
	float: left;
	margin-right: 0.15rem;
}
.tiaozhuan ul li:nth-of-type(4){
	background: #01b5ff;
	border: 0.01rem solid #01b5ff;
}
.tiaozhuan ul li:nth-of-type(4) div{
	width: 0.24rem;
	height: 0.24rem;
	border: 0.01rem solid #ffffff;
	border-radius: 50%;
	margin: 0 auto;
	font-size: 0.1rem;
	text-align: center;
	line-height: 0.24rem;
	color: #ffffff;
}
.tiaozhuan ul li:nth-of-type(7){
	margin-right: 0;
}
.tiaozhuan ul li div{
	width: 0.24rem;
	height: 0.24rem;
	border: 0.01rem solid #060606;
	border-radius: 50%;
	margin: 0 auto;
	font-size: 0.1rem;
	text-align: center;
	line-height: 0.24rem;
}
.shenglue{
	width: 0.3rem;
	height: 0.3rem;
	float: left;
	margin-right: 0.15rem;
	line-height: 0.3rem;
	font-size: 0.02rem;
}
.tiaozhuanzhi{
	width: 1.26rem;
	height: 0.31rem;
	float: left;
	margin-top: 0.19rem;
}
.tiaozhuanzhi div:first-of-type{
	width: 0.9rem;
	height: 100%;
	font-size: 0.02rem;
	line-height: 0.31rem;
	float: left;
}
.tiaozhuanzhi div:nth-of-type(2){
	width: 0.3rem;
	height: 0.2rem;
	border-radius: 0.1rem;
	border: 0.01rem solid #ebebeb;
	float: left;
	background: #ffffff;
	margin-top: 0.02rem;
}
.GO{
	width: 0.3rem;
	height: 0.3rem;
	border-radius: 50%;
	border: 0.01rem solid #b8b8b8;
	float: left;
	margin-top: 0.17rem;
	margin-left: 0.12rem;
}
.GO div{
	width: 0.24rem;
	height: 0.24rem;
	margin: 0 auto;
	border: 0.01rem solid #070707;
	border-radius: 50%;
	font-size: 0.09rem;
	line-height: 0.24rem;
	text-align: center;
}
footer{
	width: 100%;
	height: 1.31rem;
	background: #f5f6fa;
	overflow: hidden;
}
footer span{
	display: block;
	font-size: 0.17rem;
	margin-left: 1.8rem;
	margin-top: 0.33rem;
	color: #666666;
}
footer span:nth-of-type(2){
	margin-left: 1.7rem;
	margin-top: 0.13rem;
	font-size: 0.2rem;
}